.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #0e81c2;
}

.header-row {
    align-items: center;
}

.header-title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    margin-bottom: 0;
}

.header-logo {
    margin-right: 20px;
}
