.route-form-container {
    margin-top: 48px;
}

.route-form-row {
    margin-top: 24px;
}

.route-form-btn-group .btn-group {
    min-width: 320px;
}

.route-form-btn-group .btn-group .btn-light {
    background-color: #ccc;
}

.route-form-btn-group .btn-group .btn-light:hover,
.route-form-btn-group .btn-group .btn-light:focus {
    background-color: #fff;
}

.route-form-select .form-control {
    background-color: #ccc;
}

.route-form-build-route-btn {
    width: 320px;
    background-color: #0e81c2;
}

.route-form-build-route-btn:hover,
.route-form-build-route-btn:focus {
    background-color: #0a6598;
}
